[project]
	description = "# angularjs-json-placeholder-static AngularJS self-studying with fake data from JSONplaceholder & faker.js --- non bower, nodejs, grunt & yeoman"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sharayumungel
[access "refs/for/refs/*"]
	read = group user/sharayumungel
	push = group user/sharayumungel
	label-Code-Review = -2..+2 group user/sharayumungel
	label-Verified = -1..+1 group user/sharayumungel
	rebase = group user/sharayumungel
	removeReviewer = group user/sharayumungel
	submit = group user/sharayumungel
[access "refs/heads/*"]
	read = group user/sharayumungel
	create = group user/sharayumungel
	push = +force group user/sharayumungel
	pushMerge = group user/sharayumungel
[access "refs/tags/*"]
	push = +force group user/sharayumungel
	pushTag = group user/sharayumungel
	pushSignedTag = group user/sharayumungel
